body{
   background-color:black;
}

h1{
    color: yellow;
}

.icons{
    padding-right: 10px;
    width: 30px;
    height: 30px;
}

ul{
    list-style: none;
    margin: 25px 50px 75px 30px;
}

li.main-list{
    padding: 25px;
    border-bottom: solid 3px white;
    font-size: large;
}

.whole-page{
    padding: 50px;
    text-align: center;
    background: gray;
    color: white;
}

.sideNav{
    height: 100vh;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #232323;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}